[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
apache-airflow = {extras = ["google"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
